/* separate lists from subsequent content */
	div.outerwrap
	{
	  margin-bottom: 1em;
	}

	/* position list chunks side by side */
	div.wrapper
	{
	  float: left;
	  width: 10em;
	}

	/* clear float after lists */
	br
	{
	  clear: left;
	}
	
	/* remove default spacing  to 
	promote cross-browser consistency */
	ol.olPos
	{
	  margin: 0;
	  padding: 0;
	}

	/* suppress normal list item numbering */
	ol li.chgLST
	{
	  list-style-type: none;
	}